.wrap {
	width: 90%;
	margin: 0 auto;
	color: white;
	display: inline-block;
	text-align: center;
}

.btn-holder {
	font-size: 4.5vw;
	text-align: center;
	margin: 10px 0 10px 0;
}

#calendar table {
	display: inline-block;
	border-collapse: collapse;
	width: 100%
	text-align: center;
	font-size: 3vw;
}

#calendar table thead td {
	height: 30px;
}

#calendar table td {
	padding: 20px 15px;
}

#calendar table td.date-cell {
	height: 50px;
}

#calendar table td.sun {
	color: red;
}

#calendar table td.sat {
	color: blue;
}

#calendar table td.not-this-month {
	color: black;
}