body{
  font-family: Calibri, sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

#calendar {
	text-align: center;	
}

.cld-main {
	width: 90%;
	height:50vh;
	background-color:#2d3333;
	color: #fff;
    font-size: 25pt;
    display: inline-block;
    padding:0 5px;
}

.cld-main a {
	color: #0080FF;
	font-weight: bold;
}

.cld-main svg {
	fill: #0080FF;
}

.cld-datetime {
	position: relative;
	width: 66%;
	margin: auto;
	overflow: hidden;
	font-size: 5vw;
	height: 25%;
	margin-top:10px;
}

.cld-datetime .today {
	position: relative;
	float: left;
	width: calc(100% - 80px);
	margin: 20px auto;
	text-align: center;
}

.cld-nav {
	position: relative;
	height: 20px;
	margin-top: 18px;
}

.cld-nav:hover {
	cursor: pointer;
}

.cld-nav:hover svg {
	fill: #005EFF;
}

.cld-rwd {
	float: left;
}

.cld-fwd {
	float: right;
}

.cld-nav svg:hover {
}

.cld-labels, .cld-days {
	padding-left: 0;
}

.cld-label {
	box-sizing: border-box;
	display: inline-block;
	width: 14.28%;
	text-align: center;
	height: 10%;
}

.cld-day {
	box-sizing: border-box;
	display: inline-block;
	width: 14.28%;
	text-align: center;
	border: 1px solid #eee;
	height: 10%;
}

.cld-day.today .cld-number {
	background: #0080FF;
	color: #fff;
}

.cld-day.disableDay {
	opacity: 0.8;
}

.cld-day.nextMonth, .cld-day.prevMonth {
	opacity: 0.3;
}

.cld-number {
	position: relative;
	margin: 0;
	padding: 10px;
	font-weight: bold;
}

.cld-title {
	position: absolute;
	z-index: 5;
	display: none;
	top: 35px;
	left: 0;
	padding: 5px 10px;
	background: #fff;
	white-space: nowrap;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.cld-number:hover .cld-title {
	display: block;
}

.cld-title::before {
	content: '';
	position: absolute;
	top: -7.5px;
	left: 10px;
	width: 0;
	height: 0;
	border-left: 7.5px solid transparent;
	border-right: 7.5px solid transparent;
	border-bottom: 7.5px solid #ccc;
}