.container {
    overflow: hidden;
}

.clock {
    color: #fff;
    padding-top: 16px;
}

#Date {
    font-size: 4vw;
    text-align: right;
}

.clockul {
	font-family: '08SeoulNamsanB';
    list-style: none;
    text-align: right;
}

.clockul .clockli {
	display: inline;
    font-size: 10vw;
    text-align: right;
}
.clockul .clocklis {
	display: inline;
    font-size: 4vw;
    text-align: right;
    color: #999999;
}

#point {
    position: relative;
}

/* Simple Animation */
@-webkit-keyframes mymove {
	0% {
		opacity: 1.0;
	}
	
	50% {
	    opacity: 0;
	    text-shadow: none;
	}
	
	100% {
	    opacity: 1.0;
	}	
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    };
}