#command {
	font-family: '08SeoulNamsanB';
	display: inline-block;
	padding-top: 25px;
	color: white;
	font-size: 2vw;
}

#command table {
	text-align: center;
	color: white;
	font-size: 3vw;
}

.commandtitle {
	font-size: 30px;
}

#command table td {
	padding: 5px;
}