#rssheader {
	text-align: right;
	color: white;
	font-size: 4.2vw;
	padding: 0 0.5vw;
	margin-top: 20px;
}

#rssfeed {
	font-family: '08SeoulNamsanB';
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: right;
	color: white;
	font-size: 2vw;
	padding: 0.5vw;
}