#weather table {
	width: 100%;
}

#iconcell {
	width:50%;
	text-align:center;
}

.currentTd {
	text-align: right;
	margin: 0px;
	padding: 0 0 0 10px;
}

#weatherLocation {
	color: white;
	font-size: 3vw;
	margin: 0px;
	padding: 0px;
}

#temperature {
	display: inline;
	text-align: right;
	color: white;
	font-size: 7vw;
}

#summary {
	color: white;
	font-size: 3.2vw;
	padding-left: 10px;
	line-height: 30px;
	font-variant: normal;
}

#weatherHeader {
	color: white;
	font-size: 4.2vw;
	margin: 40px 0 0 0;
	padding-left:10px;
}

#weekdaysWeather {
	color: white;
	font-size: 3vw;
	padding-left: 10px;
}

#weekdaysWeather table td {
	padding: 5px 7px;
}

#icon {
	margin: 0px;
}